[Desktop Entry]
Name=Hide Titles
Comment=Hide titlebar when a window is maximized.
Icon=preferences-system-windows-script-test
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-ServiceTypes=KWin/Script

X-KDE-PluginInfo-Author=Jose Bahamonde Cordeiro
X-KDE-PluginInfo-Email=jose@bahamonde.dev
X-KDE-PluginInfo-Name=hide-titles
X-KDE-PluginInfo-Version=1.0.5
X-KDE-PluginInfo-Website=https://github.com/JoseBahamonde/hide-titles
X-KDE-PluginInfo-License=GPLv3